h1::first-letter{
    color: green;
    font-size: 5rem;
}

p::first-line{
    color: green;
}
p::first-letter{
    color: black;
    font-size: 5rem;
}
p::selection{
    background-color: green;
    color: red;
}

li{
    list-style: none;
    
}
li::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../image/lata-de-cerveja.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotate(45Deg);
    transform: skew(-25Deg)
}
li:nth-of-type(2n -1){
    color: green;
}


.container{
    display: grid;
    background-color: gray;
    padding: 10px;

    grid-template-areas: "a2 a2 a2 a2 a2 a2"
                         "a1 a1 a3 a3 a3 a3"
                         "a1 a1 a5 a4 a4 a4"
                         "a6 a6 a6 a6 a6 a6"

}
.r1{
    background-color: green;
}
.r2{
    background-color: white;
    
}
.r3{
    background-color: red;
}
.item1{
    grid-area: a1;
}
.item2{
    grid-area: a2;
}
.item3{
    grid-area: a3;
}
.item4{
    grid-area: a4;
}
.item5{
    grid-area: a5;
}
.item6{
    grid-area: a6;
}